<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.sita.testcases.Deligation_of_amenities_for_each_BO"/>
      <class name="com.sita.testcases.Assign_fhe_to_A0_B0"/>
      <class name="com.sita.testcases.deligation_of_amenities_to_Z_Mumbai"/>
      <class name="com.sita.testcases.Create_supervisor_fhe"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
