<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Creating supervisor and fhes">

  <test  name="Creating fhes">
    <classes>
      <class name="com.sita.testcases.Create_fhes">
      <methods>
      <include name="setupTest"/>
      <include name="customer_details"/>
      </methods>
      </class>
     </classes>
      </test>
      <test  name="Creating supervisor">
    <classes>
      <class name="com.sita.testcases.Create_supervisor">
      <methods>
      <include name="setupTest"/>
      <include name="customer_details"/>
      <include name="Login_Supervisor"/>
      </methods>
      </class>
     </classes>
      </test>
      
      
      
</suite> 
